{% extends 'admin.html.twig' %}

{% block title %}order index{% endblock %}

{% block body %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">
    DataTables est un plugin tiers utilisé pour générer le tableau ci-dessous.
    Pour plus d'informations, visitez la
    <a target="_blank" href="https://datatables.net">documentation officielle de DataTables</a>.
</p>

<!-- DataTable Centré et Réduit -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow mb-4">

                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Liste des factures</h6>
                    <a href="{{ path('app_order_new') }}" class="btn btn-primary">Ajouter</a>
                </div>
                {% include 'partials/flash_messages.html.twig' %}
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>FACTURE N°</th>
                                    <th>Date de commande</th>
                                    <th>Prix Total</th>
                                    <th>Montant restant</th>
                                    <th>Montant Réçu</th>
                                    <th>Solde</th>
                                    <th>Status</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ order.numero }}</td>
                                    <td>{{ order.createdAt ? order.createdAt|date('d/m/Y') : '' }}</td>
                                    <td>{{ order.montantTotal | number_format(0, '', ' ') }} GNF</td>
                                    <td>{{ order.montantRestant | number_format(0, '', ' ') }} GNF</td>
                                    <td>
                                        {% set totalRecu = 0 %}
                                        {% for paiement in order.paiements %}
                                        {% set totalRecu = totalRecu + paiement.montant %}
                                        {% endfor %}
                                        {{ totalRecu|number_format(2, ',', ' ')}} GNF
                                    </td>
                                    <td>{{ order.solde | number_format(0,'',' ') }} GNF</td>
                                    <td class="text-white">

                                        {% if order.status == 'payé' %}
                                        <span class="badge bg-success">Payé</span>
                                        {% else %}
                                        <span class="badge bg-danger">Non payé</span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a href="{{ path('app_order_show', {id: order.id }) }}" class="btn-success btn-sm"><i class="fas fa-eye"></i></a>
                                        {% if order.status == "non payé" %}
                                        <button type="button"
                                            class="btn btn-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#paiementModal"
                                            data-id="{{ order.id }}"
                                            data-amount="{{ order.montantRestant }}">
                                            Payé
                                        </button>
                                        {% endif %}

                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Paiement -->
<div class="modal fade" id="paiementModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paiement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{{ path('app_order_payer') }}" id="paymentForm" method="post">
                <input type="hidden" id="commandeId" name="commandeId" value="">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Montant à payer</label>
                        <input type="text" id="amount" name="amount" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Montant reçu</label>
                        <input type="number" name="paymentAmount" class="form-control" id="paymentAmount" placeholder="Ex: 10 000 GNF" step="0.01" min="0" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Fermer
                    </button>
                    <button type="submit" class="btn btn-primary">Payer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script pour remplir le modal avec les infos -->
<script>
    var paiementModal = document.getElementById('paiementModal');
    paiementModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var orderId = button.getAttribute('data-id');
        var amount = button.getAttribute('data-amount');

        document.getElementById('commandeId').value = orderId;
        document.getElementById('amount').value = amount + " GNF";
    });
</script>

{% endblock %}